<section class="big-image" id="{{id}}" data-index="{{index}}" >
	<img src="{{url}}" alt="{{caption}}" class="big-image__img js-bigimg"  onload="$(this).addClass('loaded');" />
	<div class="loading big-image__loading"></div>
	<div class="big-image__extra">
		<a href="{{original}}" target="_blank" class="big-image__original">
			<span class="big-image__service big-image__service--{{service}}"></span>
			<span class="big-image__caption">{{caption}}</span>
		</a>
	</div>
</section>