<section class="image" data-fullurl="{{urls.hi}}" data-service="{{service}}" data-caption="{{caption}}" data-original="{{urls.original}}" id="{{id}}" >
	<img src="{{urls.low}}" alt="{{caption}}" class="image__img" onload="$(this).addClass('loaded');" width="140" height="140" />
</section>